[user]
	email = thomas@gassmann.dev
	name = Thomas Gassmann
	signingkey = 0E7C183AED7F189A
[includeIf "gitdir:~/git/eth/**"]
	path = ~/.gitconfig.eth
[alias]
    ll = log --date=short --format=format:'%C(auto)%h%C(reset) %C(cyan)%ad%C(reset) %C(green)(%ar)%C(reset)%C(auto)%d%C(reset) %s - %C(yellow)%an%C(reset)'
    l = !git ll --all --graph
	sdiff = !git diff && git submodule foreach 'git diff'
    stats = shortlog -s -n --all
[commit]
	gpgSign = true
[sequence]
	editor = vim
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[credential]
	helper = cache
[diff]
	algorithm = histogram
	conflictstyle = diff3
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[delta]
	navigate = true
	side-by-side = true
